<% @images.each do |image| %>
  <%= image_tag image.image, id: "cropbox" %>

  <%= form_for image, url: memorial_crop_path(memorial_id: image.memorial.id, id: image.id) do |f| %>
    <div class="actions">
      <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}"%>
      <% end %>
      <%= f.submit "Crop" %>
    </div>
  <% end %>

<% end  %>

<button id="hello">hi</button>