.new_story {
  min-width: 328px;
  width: 50%;
  margin: auto auto 75px auto;

  textarea {
    width: 100%;
    height: 100%;
  }

  .add-story-input-container {
    width: 100%;
    height: 20vh;
  }

  p {
    width: 30px;
    float: left;
  }

  input {
    float: right;
  }

}