$(document).ready(function(){

  var threeColumnContainer = $('.three-columns');
  var twoColumnContainer = $('.two-columns');
  var oneColumnContainer = $('.one-column');

  var windowWidth = $(window).innerWidth();
  console.log(windowWidth);

  var currentColumns = 3;
  var cards = $('.card');
  var cardMover = new MoveCards(cards);


  var renderColumns = function(width){
    if (width <= 600 && currentColumns != 1) {
      $('<div></div>').addClass('one-column').prependTo('.columns-container');
      $('<div></div>').addClass('one-column-one').appendTo('.one-column');

      cardMover.one();
      currentColumns = 1;
      console.log('CURRENT COLUMNS' + currentColumns);
      console.log('hitting the one!!!');

      $('.three-columns').remove();
      $('.two-columns').remove();
    }
    else if (width > 600 && width <= 1150 && currentColumns != 2) {
      $('<div></div>').addClass('two-columns').prependTo('.columns-container');
      $('<div></div>').addClass('two-column-one').appendTo('.two-columns');
      $('<div></div>').addClass('two-column-two').appendTo('.two-columns');

      cardMover.two();
      currentColumns = 2;
      console.log('CURRENT COLUMNS' + currentColumns);
      console.log('hitting the two!!!');


      $('.one-column').remove();
      $('.three-columns').remove();

    }
    else if (width > 1150 && currentColumns != 3){
      $('<div></div>').addClass('three-columns').prependTo('.columns-container');
      $('<div></div>').addClass('three-column-one').appendTo('.three-columns');
      $('<div></div>').addClass('three-column-two').appendTo('.three-columns');
      $('<div></div>').addClass('three-column-three').appendTo('.three-columns');

      cardMover.three();
      currentColumns = 3;
      console.log('CURRENT COLUMNS' + currentColumns);
      console.log('hitting the three!!!');

      $('.two-columns').remove();
      $('.one-column').remove();
    }
  };

  renderColumns(windowWidth);

  $(window).resize(function(){

    var windowWidth = $(window).innerWidth();

    console.log(windowWidth);
    renderColumns(windowWidth);
  });


});