.link-panel {
  text-align: center;
}

.options-panel {
  padding-top: 10vw;
}

.memorial-name-index {
  font-size: 30px;
  font-wight: bold;
}

.all-memorial-container {
  margin-top: 5vw;
}

.over-limit {
  color: red;
}

.story-input {
  height: 10vw;
  vertical-align: top;
  @include span-columns(6);
}

.memorial-content {
  @include pad(70% 0 0 0);
//  @include position (absolute, 100% 0 0 0);
//  @include outer-container;
}

.story-favorite {
  height: 1em;
  width: 1em;
}

.unlike {
  height: 1em;
  width: 1em;
}

.memorial-cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background-image(url('mountain.jpg'));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.new_story {
  margin-bottom: 2vw;
}

.memorial-name-dates {
  position: absolute;
  top: 70%;
  color: white;
  width: 100%;
}

.test {
  position: absolute;
  top: 100%;
}


