.link-panel {
  text-align: center;
}

.options-panel {
  padding-top: 10vw;
}

.memorial-name-index {
  font-size: 30px;
  font-wight: bold;
}

.all-memorial-container {
  margin-top: 5vw;
}

.over-limit {
  color: red;
}

.comment-input {
  height: 10vw;
  vertical-align: top;
  @include span-columns(6);
}

.memorial-content {
  @include pad(2vw 0 0 0);
}

.comment-favorite {
  height: 1em;
  width: 1em;
}

.unlike {
  height: 1em;
  width: 1em;
}

//CARD REFILL BEGINNING



// CARD REFILL ENDING
