.link-panel {
  text-align: center;
}

.options-panel {
  padding-top: 10vw;
}

.memorial-name-index {
  font-size: 30px;
  font-wight: bold;
}

.all-memorial-container {
  margin-top: 5vw;
}

.over-limit {
  color: red;
}

.comment-input {
  height: 10vw;
  vertical-align: top;
  @include span-columns(6);
}

.memorial-content {
  @include pad(55% 0 0 0);
//  @include position (absolute, 100% 0 0 0);
  width: 100%;
}

.comment-favorite {
  height: 1em;
  width: 1em;
}

.unlike {
  height: 1em;
  width: 1em;
}

.memorial-cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.new_comment {
  margin-bottom: 2vw;
}

.memorial-name-dates {
  position: absolute;
  top: 70%;
  color: white;
  width: 100%;
}
