.new_post {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 2vw;

  #add-post-input {
    width: 100%;
    height: 100%;
  }

  .add-post-input-container {
    width: 100%;
    height: 60vh;
  }

  #post-char-count {
    width: 30px;
    float: left;
    margin-top: 2vw;
  }

  #add-post-button {
    float: right;
    margin-top: 2vw;
  }
}