<div class="card">
  <!--<div class="card-image">-->
    <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">-->
  <!--</div>-->
  <div class="card-header">
    <%= name %>
  </div>
  <div class="card-copy">
    <p><%= comment_text %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li>98<span>Likes</span></li>
    </ul>
  </div>
</div>