<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link left-most-nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "Create Memorial", new_memorial_path %></li>
        <li class="nav-link"><%= link_to "Find Memorial", find_memorials_path %></li>
          <!--<ul class="submenu">-->
            <!--<li><a href="javascript:void(0)">Submenu Item</a></li>-->
            <!--<li><a href="javascript:void(0)">Another Item</a></li>-->
            <!--<li class="more"><a href="javascript:void(0)">Item with submenu</a>-->
              <!--<ul class="submenu">-->
                <!--<li><a href="javascript:void(0)">Sub-submenu Item</a></li>-->
                <!--<li><a href="javascript:void(0)">Another Item</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="more"><a href="javascript:void(0)">Another submenu</a>-->
              <!--<ul class="submenu">-->
                <!--<li><a href="javascript:void(0)">Sub-submenu</a></li>-->
                <!--<li><a href="javascript:void(0)">An Item</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
      </ul>
    </div>
      <a href="/signout" class="sign-up">Sign Out</a>
    </div>
  </div>
</header>
